html,
body {
	height: 100%;
}

.boxed {
	max-width: 700px;
	min-height: 85%;
}

.container .jumbotron {
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 72px;
	background: transparent;

}

.jumbotron h1 {
	font-size: 3em;

}

/* Button and controllers*/
.batch .btn-update {
	display: inline-block;
	margin-left: 20px;
}

.navbar .btn-logout {
	float: right;
}

#next-button {
	display: none;
}

.standby {
	background-color: #cecece;
}

.standby i {
	animation: rotate 2s linear infinite;
}

.standby i::before {
	content: "\f110";


}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Footer */
#footer {
	/*position: absolute;*/
	bottom: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

#footer a {
	display: inline-block;
	padding: 0px 8px;
}

#footer .col-md-6 {
	padding-left: 0px;
}

.btn-logout {
	display: inline-block;
	padding: 3px 10px;
}

.btn-logout {
	margin-left: 10px;
}

p.tou-description {
	font-size: 1em;
	color: #444;
	margin-top: 24px;
}

/* Sortable tables */
table.sortable thead {
	font-weight: bold;
	cursor: default;
}

table.sortable th:after,
table.sortable th span {
	color: #28a745;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	content: " \25B4\25BE";
	font-size: .8em;
	display: inline-block;
	margin: 0px 5px;
}

table.sortable tbody {
	counter-reset: sortabletablescope;
}

table.sortable thead tr::before {
	content: "";
	display: table-cell;
}

table.sortable tbody tr::before {
	content: counter(sortabletablescope);
	counter-increment: sortabletablescope;
	display: table-cell;
	border-top: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
	padding: 0px 3px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 1px solid #dee2e6;
	border-top: none;
}

.messages {
	margin-top: 10px;
}